*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: $fs-0;
    line-height: 1.43;
    color: black;
    background-color: $color-white-1;
}
h3{
    display: inline-block;
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 24px;
}


